<h1 id="blog-title">Glenview Food Blog</h1>
<div id="main-content">
  <ul id="blog-list">
    <% @blogs.each do |blog| %>
      <li class="blog-list-item"><h2><%= blog.title %></h2></li>
      <p><%= blog.body %></p>
    <% end %>
  </ul>
</div>

<%if current_user%>
  <a href="blogs/new">Create New Blog</a>
<% end %>
